.container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    max-width: 1240px;
}

.headerContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.logo {
    margin: 5px 10px;
}

.tab {
    margin-block-start: 25px;
}

.activeTab {
    margin-block-start: 25px;
    border-bottom: 3px solid black;
}

.button {
    font-size: 18px;
    text-decoration: unset;
    color: black;
    margin-inline: 10px;
    border: none;
    background-color: white;
}
